* {
  font-family: "MuseoModerno", cursive;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 80px;
  background-color: #e70013;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #b5000d;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav {
  text-align: right;
}

.sections {
  display: inline-flex;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
  transition: transform 100ms linear;
}

.sections::before {
  content: "";
  background-color: #b5000d;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.sections:hover {
  transform: scale(1.1);
}

/** HOME / ABOUT **/

.tela-inicial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 80px);
}

h1 {
  display: flex;
  font-family: "Press Start 2P", sans-serif;
  font-size: 50px;
  color: #e70013;
  text-shadow: 4px 4px #b5000d;
  justify-content: center;
}

.bloco-conteudo-inicial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.bloco-conteudo-inicial img {
  width: 25%;
  position: absolute;
  left: 5px;
}

.texto-home {
  display: flex;
  background: #e70013;
  border: 2px solid #b5000d;
  border-radius: 15px;
  color: white;
  padding: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.389);
}

.between-sections {
  background: #e70013;
  margin-bottom: 15px;
  border: 2px solid #b5000d;
}

.control-n64 {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 40vw;
}

#vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #e70013;
  color: white;
  border: 2px solid #b5000d;
  border-radius: 15px;
  width: 40%;
  margin: auto;
  margin-bottom: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.389);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  color: white;
}

form .input-padrao {
  margin-bottom: 5px;
}

.botao-adicionar {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 2px;
  font-size: 12px;
  background: #b5000d;
  width: 80px;
  border-radius: 5px;
}

.enviar {
  width: 40%;
  padding: 5px 0;
  background: #b5000d;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 10px;
}

/** RANKING **/

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  margin-bottom: 15px;
}

table {
  border-collapse: collapse;
  border: 2px solid #b5000d;
}

caption {
  font-size: 1.5em;
  font-weight: bolder;
  padding: 20px;
  color: #b5000d;
}

th,
td {
  border: 1px solid white;
  padding: 10px;
}

th {
  background: #b5000d;
  color: white;
}

td {
  background: #e70013;
  color: white;
}

tr:nth-child(even) {
  background-color: #f1c3c7;
}

tr:last-of-type {
  border-bottom: 2px solid #b5000d;
}

/** LIST **/

.conteudo-colunas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: calc(100vh - 80px - 50px);
}

.conteudo-coluna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.coluna-geral {
  background: #b5000d;
  border-radius: 15px;
  border: 2px solid #b5000d;
  color: white;
  width: 300px;
  height: 300px;
  position: relative;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.389);
  transition: all 0.2s ease-in-out;
}

.coluna-geral:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.foto-coluna {
  display: flex;
  height: 150px;
}

.foto-coluna img {
  border-radius: 15px 15px 0 0;
}

.titulo-coluna {
  margin: 10px;
}

.texto-coluna {
  margin: 0;
}

.lista-coluna {
  display: none;
}

.botao-coluna {
  position: absolute;
  bottom: 10px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-top: 15px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
  width: 60px;
  transition: all 0.2s ease-in-out;
}

.botao-coluna:hover {
  font-size: 12.5px;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.botao-coluna a {
  text-decoration: none;
  color: #b5000d;
}

.coluna-geral.active .lista-coluna {
  display: block !important;
}

.coluna-geral.active .lista-coluna::before {
  visibility: hidden;
}

/** RODAPÉ **/

footer {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  height: 50px;
  background: #e70013;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #b5000d;
}
